@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0px;}
body, td, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, textarea{font-family:Nanum Gothic, sans-serif; font-size:10pt;}



/* list */
.board_listbox {padding:30px 0px 30px 0px; vertical-align:top; border-bottom:2px solid #eeeeee;}
#board_list td {color:#505050; padding:8px; height:30px;}
#board_list td a {font-size:13pt; font-weight:bold; color:#505050; text-decoration:none;}
.board_list {text-align:center; color:#847f74; border-bottom:1px solid #9a9a9a; background-color:#fafafa; width:80px;}




/* search */
.board_search {text-align:right; margin:30px 0 0 0; }
.board_search .stx { height:21px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; }



/* write */
.write_head {font-size:11pt; height:40px; text-align:center; color:#847f74; background-color:#ffffff; border-right:1px solid #a9a9a9;}
.write_head01 {font-size:11pt; height:40px; text-align:center; color:#847f74;}
.write_text {padding-left:10px;}
.field {border:1px solid #ccc;}



/* view */
.board_view {border-bottom:1px solid #4b4b4b;}
.board_view td {clear:both; color:#505050; font-size:11pt; padding:6px; word-break:break-all; border-top:1px solid #4b4b4b;}
.board_view .viewtit {color:#4b4b4b; font-weight:bold; background-color:#f8f8f8; width:80px; height:35px; text-align:center;}

.view_text td {color:#505050; padding:8px 3px 8px 3px; height:30px; border-bottom:1px solid #cccccc;}
.view_text2 {color:#4b4b4b; text-align:center; font-weight:bold; border-bottom:1px solid #9a9a9a; background-color:#fafafa; width:80px;}

.viewcon {word-break:break-all; line-height:160%;}

.viewvideo {width:100%; padding-top:20px;}
.viewvideo iframe {margin-bottom:10px;}




/* board_btn  */  
#board_button a {height:26px; line-height:26px; color:#aeaeae; font-weight:bold; font-size:8pt; text-decoration:none; background-color:#fafafa; border:1px solid #aeaeae; padding:0px 8px 0px 8px; display:inline-block;}
#board_button #board_button2, #board_button2 {height:26px; line-height:26px; color:#f8f8f8; font-weight:bold; font-size:8pt; text-decoration:none; background-color:#4b4b4b; border:1px solid #111111; padding:0px 8px 0px 8px; letter-spacing:2; display:inline-block;}

.btn_write {vertical-align:middle; height:27px; line-height:23px; color:#f8f8f8; font-weight:bold; font-size:8pt; text-decoration:none; background-color:#4b4b4b; border:1px solid #111111;}

.btn_coment {height:50px; color:#aeaeae; font-weight:bold; font-size:8pt; text-decoration:none; background-color:#fafafa; border:1px solid #aeaeae; padding:6px 8px 6px 8px;}

.btn_search {color:#f8f8f8; font-weight:bold; font-size:8pt; padding:0px 7px 3px 7px; height:20px; line-height:20px; background-color:#4b4b4b; border:1px solid #111111; text-decoration:none; letter-spacing:2;}




/* board page btn  */ 
.board_page {clear:both; text-align:center; margin:3px 0px 0px 0px;}
.board_page a:link {font-size:9pt; color:#777;}

#pagenation {padding:0; font-size:12px; text-align:center; }
#pagenation li {display:inline; border:1px solid #f0f0f0; margin:0 3px; padding:5px;}
#pagenation li a {color:#737373; text-decoration:none;}
#pagenation li a img {vertical-align:middle;}
#pagenation li.on {background:#4b4b4b; color:#ffffff; text-decoration:none;}
#pagenation li.on a {color:#ffffff; text-decoration:none;}

input.ed{height:32px;}
